<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Papera Giusta</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/text.css">
    <link rel="stylesheet" href="/static/css/randomDuck.css">
</head>
<body>
    <header>
        <h1>QR Code Giusto!!</h1>
    </header>
    <main>
        <img src="/static/img/duck10.jpg" alt="Papera" class="random-duck">
        <p class="random-duck-text">
            Hai trovato il QR code giusto! Complimenti!<br>
            Per continuare la tua avventura, devi risolvere il prossimo indovinello:<br>
        </p>
        <button class="btn center-btn" onclick="location.href='{{ url_for('sfide.terza_sfida') }}'">Vai alla prossima sfida</button>
    </main>
    <footer>
        <p>&copy; 2025 Valentina. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
