<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Papera Indizio!</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/text.css">
    <link rel="stylesheet" href="/static/css/randomDuck.css">
    <link rel="icon" href="/static/img/duck-icon.png" type="image/png">
</head>
<body>
    <header>
        <h1>Papera Indizio!</h1>
    </header>
    <main style="display:flex;flex-direction:column;align-items:center;justify-content:center;min-height:60vh;">
        <div>
            <img src="/static/img/duck12.jpg" alt="Papera" class="random-duck">
        </div>
        <p>
            Non hai inquadrato il QR code giusto, bevi un goccio d'acqua e continua a cercare quello giusto!<br>
            Ci sei quasi!! <br>
            <strong>Indizio:  guarda sotto!!</strong>
        </p>
    </main>
    <footer>
    
        <p>&copy; 2025 Valentina. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
