<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Inizio dell'avventura</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/text.css">
    <link rel="stylesheet" href="/static/css/form.css">
</head>
<body>
    <header>
        <h1>Partiamo con questa avventura!</h1>
    </header>
    <main>
        <p>Se sei pronta a partire allora inserisci come username il nome con cui <strong>ti ho salvata</strong> e come password <strong>"BuonCompleanno!"</strong></p>
        <form action="{{ url_for('tesoro.inizio') }}" method="post">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required autocomplete="username">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required autocomplete="current-password">
            </div>
            <button type="submit" class="btn center-btn">Accedi</button>
            {% if errorMessage %}
            <div class="error-message">{{ errorMessage|safe }}</div>
            {% endif %}
        </form>
    </main>
    <footer>
        <p>&copy; 2025 Tesoro. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
