<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Papera Indizio!</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/text.css">
    <link rel="stylesheet" href="/static/css/randomDuck.css">
    <link rel="icon" href="/static/img/duck-icon.png" type="image/png">
</head>
<body>
    <header>
        <h1>Papera Indizio!</h1>
    </header>
    <main>
        <p class="random-duck-text">
            Ora che hai inquadrato il QR code giusto,<br>
            ecco il prossimo indizio:<br>

            Caffè e cappuccini, tra sbadigli e confidenze,<br>
            a volte incazzature, ma anche tante risate intense.<br>

            Quando la prima ora era ancora in pausa,<br>
            iniziavamo la giornata con calma.<br>

            Tu? Sveglia spenta e sogni prolungati,<br>
            ma poi qui arrivavi con occhi ancora incantati.<br>

            È il posto dove le chiacchiere diventano vere,<br>
            cerca bene, il prossimo indizio ti attende… senza barriere.
        </p>
    </main>
    <footer>

        <p>&copy; 2025 Aurorina. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
