<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Quarta Sfida</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/text.css">
    <link rel="stylesheet" href="/static/css/randomDuck.css">
    <link rel="stylesheet" href="/static/css/form.css">
</head>
<body>
    <header>
        <h1>Quarta Sfida</h1>
    </header>
    <main>
        <p>
            Bene sei arrivata fin qui, ora arriva una sfida un po' più impegnativa, 
            o almeno è quello che penso.<br>
            Ecco il tuo indovinello:
        </p>
        <p class="random-duck-text"><strong>

            Non sono un uccello, ma viaggio leggero,<br>
            con becco e piume, ma non faccio pensiero.<br>
            Segui le mie tracce, foto qua e là,<br>
            su Instagram mi trovi… dove sono io qua?</strong>
        </p>
    </main>
    <footer>
        <p>&copy; 2025 Valentina. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
