<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seconda Sfida</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/text.css">
</head>
<body>
    <header>
        <h1>Seconda Sfida</h1>
    </header>
    <main>
        <p>
            Bene, ora che ho testato le tue <strong>super capacità</strong> in economia aziendale ora ti devi recare dove proprio questa materia ci ha fatto sclerare per bene.<br>
            <br>Dopo che ti sarai recata lì, dovrai cercare <strong>un indizio</strong>, fai però attenzione agli <i>indizi sbagliati!</i><br>
            Ogni volta che me ne troverai uno sbagliato, dovrai seguire le indicazioni che ti fornirà.
        </p>
    </main>
    <footer>
        <p>&copy; 2025 Valentina. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>