<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Terza Sfida</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/text.css">
    <link rel="stylesheet" href="/static/css/randomDuck.css">
    <link rel="icon" href="/static/img/duck-icon.png" type="image/png">
</head>
<body>
    <header>
        <h1>Terza Sfida</h1>
    </header>
    <main>
        <p class="random-duck-text">
            Ora che hai inquadrato il QR code giusto,<br>
            ovviamente dopo che hai sclerato male...<br>
            ecco il prossimo indizio:<br>
        </p>
        <p class="random-duck-text">
            <strong>
            Caffè e cappuccini, tra sbadigli e confidenze,<br>
            a volte incazzature, ma anche tante risate intense.<br>

            Quando la prima ora era ancora in pausa,<br>
            iniziavamo la giornata con calma.<br>

            Tu? Sveglia spenta e sogni prolungati,<br>
            ma poi qui arrivavi con occhi ancora incantati.<br>

            È il posto dove le chiacchiere diventano vere,<br>
            cerca bene, il prossimo indizio ti attende… senza barriere.
            </strong>
        </p>
        <div style="display:flex;justify-content:center;margin:0;">
            <a href="{{ url_for('sfide.terza_sfida_2') }}" class="btn center-btn" style="min-width:160px;font-size:1.15rem;letter-spacing:1px;box-shadow:0 4px 16px rgba(124,77,255,0.18);padding:0.8rem 2.5rem;margin:0;">X il codice</a>
        </div>
    </main>
    <footer>

        <p>&copy; 2025 Valentina. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
